{% extends 'base.html' %}

{% block content %}
    <div class="row text-center">
        <div class="col-md-12" style="margin-top: 50px">
            <div class="card">
                <div class="header">
                    <h4 class="title text-center">Provide your credentials to login</h4>
                </div>
                <div class="content" style="margin-left: 20px">
                    <form method="post">
                        {% csrf_token %}

                        {% with centered=True %}
                            {% include 'util/form-fields.html' %}
                        {% endwith %}

                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}