{% if request.user.is_authenticated %}

    <div class="card" style="margin-top: 50px">
        <form method="post" action="{% url 'tweet' %}" id="tweet-form">
            {% csrf_token %}

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <textarea name="tweet" id="tweet-input" placeholder="What's up?"></textarea>
                </div>
                <div class="col-md-5">
                    <input type="submit" class="btn btn-primary" value="Tweet" id="button"/>
                </div>
            </div>
        </form>
    </div>

{% endif %}